@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

$bgColor: #010202;
$tagsColor: #e5e5e5;
$btnColor: #2f2f2f;
$btnPrimaryColor: #ea6e20;
$contentColor: #fff;
$contentFont: "Roboto Slab", sans-serif;
